.nav_bar {
    width: 100%;
    padding: 10px 30px;
    background-color: #211F42;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
img{
    width: 100px;
    height: auto;
}
    &__menu{
        ul{
            display: flex;
            li{
                font-size: 20px;
                margin-right: 10px;
            }
        }
    }


}