.page {
    margin:0px 5%;
    padding-top: 200px;
}



.btn {
    padding: 15px 30px;

    border-radius: 5px;
    background-color: #8685EF;
    width: 100%;

    &:hover {
        transform: scale(.98);
    }
}

@mixin spacing {
    // display: flex;
    // flex-direction: row;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 11%;
}

.info {
    @include spacing();
    &__left {
        margin: 5%;
        img {
            width: 624px;
            height: auto;
        }
    }

    &__right {
        display: grid;
        grid-template-rows: 16%,11%,8%,47%,1fr;
        padding-right: 25%;
    }
}

.info-image-cart {
    // @include spacing();
    display: grid;
    grid-template-columns: repeat(2,1fr); 
    gap: 11%;
    padding-top: 32px;
    min-height: 100px;

    &__left {
        // display: grid;
        // grid-template-columns: repeat(3,1fr);
        display: flex;
        align-items: center;
        padding-left: 10%;
        width: 100%;
        overflow: hidden;
        
    }
    &__right {
        padding-right: 25%;
        margin: auto 0;
    }
    
}

.related-items-title {
   
    p {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100px;
    }
}

.related-items-carousel {
    div {
        padding: 0px 20%;
        display: flex;
        flex-direction: row;
    }
}

.wrapper-related-items-content {
    height: 200px;
}