
.carousel-container {
    width: 80%;
    margin: 0 auto;
    position: relative;
  }
  
  .carousel-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }



  /* */


.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); /* Center the buttons vertically */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  color: white;
  font-size: 2rem;
  padding: 10px;
  border-radius: 50%;
  z-index: 10;
}

.swiper-button-next {
  right: -10% ; /* Position the "next" button outside to the right */
}

.swiper-button-prev {
  left: -10% ; /* Position the "prev" button outside to the left */
}