/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --background: #090909;
  --foreground: white;
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --background: #0a0a0a;
//     --foreground: #ededed;
//   }
// }

body {
  color: var(--foreground);
  background: var(--background);

  font-family: Arial, Helvetica, sans-serif;
}

/*  Font size */
.font-xs { font-size: 0.75rem; }
.font-sm { font-size: 1rem; }
.font-md { font-size: 1.25rem; }
.font-lg { font-size: 1.5rem; }
.font-xl { font-size: 2rem; }
.font-xl-2 { font-size: 2.5rem; }
.font-xl-3 { font-size: 3rem; }
.font-xl-4 { font-size: 4rem; }
.font-xl-5 { font-size: 5rem; }
.font-xl-6 { font-size: 6rem; }
